* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin:0;
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

}
.s1{
    background: url(../img/pic1.jpg)no-repeat center;
    background-size: 199%;
    position: relative;
    height: 100%;

}
.s1 h1{
    font-size:26px;
    position: absolute;
    top: 11%;
    left:24%;
}
.s1 p{
    position: absolute;
    top: 18%;
    left:26.5%;
}
.s2{
    background: url(../img/bg2.jpg);
    background-size: 100% 100%;
    position: relative;
    height: 100%;
}
.s2 img{
    width: 203%;
    height:75%;
    position: absolute;
    top: 22%;
    left:-50%;

}
.s2 h1{
    font-size:32px;
    position: absolute;
    top: 11%;
    left:43%;
}
.s2 p{
    position: absolute;
    top: 18%;
    left:26.5%;
}
.s3{
    background: url(../img/pic.jpg)no-repeat center;
    background-size: cover;
    position: relative;
    height: 100%;
}
.s3 h1{
    font-size:30px;
    position: absolute;
    top: 47%;
    left:15%;
    color:#ffffff;
}
.s3 p{
    position: absolute;
    top: 45%;
    left:47%;
    color:#ffffff;
}
.s4{
    background: url(../img/pic4.jpg)no-repeat center;
    background-size: cover;
    position: relative;
    height: 100%;
}
.s4 h1{
    font-size:30px;
    position: absolute;
    top: 15%;
    left:32%;
    color:#ffffff;
}
.s4 p{
    position: absolute;
    top: 23%;
    left:27%;
    color:#ffffff;
}
.s5{
    background: url(../img/pic5.jpg)no-repeat center;
    background-size: 213%;
    position: relative;
    height: 100%;
}
.s5 h1{
    font-size:30px;
    position: absolute;
    top:10%;
    left:32%;
}
.s5 p {
    position: absolute;
    top: 18%;
    left: 34%;
}
.navbar{
    margin-bottom:auto ;
}
nav h2{
    position: absolute;
    top: -25%;
    left: 40%;
    display: inline
}
.dropdown-menu .shou img{
    width:88%;
    margin-left:6%
}
.dropdown-menu h1{
    font-size:16px;
    position: absolute;
    top: 108px;
    left: 57%;
    color:#ffffff;
}
.dropdown-menu .shou p{
    font-size:12px;
    position: absolute;
    top: 153px;
    left: 59.5%;
    color:#ffffff;
}
.dropdown-menu .shou{
    margin-bottom:5%
}
.dropdown-menu .shou1 img:nth-of-type(1){
    width: 20%;
    height: 20%;
    position: relative;
    top: 10%;
    left: 12%;
}
.dropdown-menu .shou1 img:nth-of-type(2){
    width: 20%;
    height: 20%;
    position: relative;
    top: 20%;
    left: -7%;
}
.dropdown-menu .shou1 p{
    position: absolute;
    top:232px;
    left: 77%;
}
.dropdown-menu .shou2 img:nth-of-type(1){
    width: 20%;
    height: 20%;
    position: relative;
    top: 10%;
    left: 12%;
}
.dropdown-menu .shou2 img:nth-of-type(2){
    width: 20%;
    height: 20%;
    position: relative;
    top: 20%;
    left: -7%;
}
.dropdown-menu .shou2 p{
    position: absolute;
    top:301px;
    left: 77%;
}
.dropdown-menu .shou3 img:nth-of-type(1){
    width: 20%;
    height: 20%;
    position: relative;
    top: 10%;
    left: 12%;
}
.dropdown-menu .shou3 img:nth-of-type(2){
    width: 20%;
    height: 20%;
    position: relative;
    top: 20%;
    left: -7%;
}
.dropdown-menu .shou3 p{
    position: absolute;
    top:377px;
    left: 77%;
}
.dropdown-menu .shou4 img:nth-of-type(1){
    width: 20%;
    height: 20%;
    position: relative;
    top: 10%;
    left: 12%;
}
.dropdown-menu .shou4 img:nth-of-type(2){
    width: 20%;
    height: 20%;
    position: relative;
    top: 20%;
    left: -7%;
}
.dropdown-menu .shou4 p{
    position: absolute;
    top:457px;
    left: 77%;
}
.bg-pic img{
    width: 100%;
    margin-bottom:10px;
}
.btn-group-lg>.btn, .btn-lg {
    padding:18px 141px;
}
.btn-group .dropdown-menu li{
    width:372px;
    height: 20px;
    line-height: 46px;
}
.btn-group .dropdown-menu li h5{
    margin-left:10px;
}
.footer{
    background-color:#ffffff;
}
.container{
    padding-top:32px;
}
.footer .container h2{
    margin-top:10px;
    font-size:25px;
}
.footer .container .col-xs-6 img{
    margin-left:19px;
}
.footer .xian{
    position: relative;
    width: 95%;
    left: 3%;
    top:77px;
    border-bottom:1px solid #98979a;
}
.footer .col-xs-12{
    line-height: 25px;
    color:#98979a;
}
.footer .col-xs-12 img{
    margin-top:-8px;
}