* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin:0;
    position: relative;
    height: 100%;
}

body {
    background: #ffffff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

}
.swiper-container {
    width: 100%;
    height: 83%;
}
.header img{
    width: 100%;
}
.header h1{
    font-size:32px;
    margin-left:84px;
}
.header p{
    margin-left:26px;
    font-size:15px;
}
.swiper-container p{
    font-size:23px;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fleft {
    0% {
        left:15px;
    }

    100% {
        left:-20px;
    }
}
.fleft {
    -webkit-animation-name: fleft;
    animation-name: fleft;
}
@-webkit-keyframes fright {
    0% {
        left:15px;
    }

    100% {
        left:40px;
    }
}
.fright {
    -webkit-animation-name: fright;
    animation-name: fright;
}
@-webkit-keyframes fleft1 {
    0% {
        left:15px;
    }

    100% {
        left:-20px;
    }
}
.navbar{
    margin-bottom:auto ;
}
nav h2{
    position: absolute;
    top: -25%;
    left: 40%;
    display: inline
}
.dropdown-menu .shou img{
    width:88%;
    margin-left:6%
}
.dropdown-menu h1{
    font-size:16px;
    position: absolute;
    top: 108px;
    left: 57%;
    color:#ffffff;
}
.dropdown-menu .shou p{
    font-size:12px;
    position: absolute;
    top: 153px;
    left: 59.5%;
    color:#ffffff;
}
.dropdown-menu .shou{
    margin-bottom:5%
}
.dropdown-menu .shou1 img:nth-of-type(1){
    width: 20%;
    height: 20%;
    position: relative;
    top: 10%;
    left: 12%;
}
.dropdown-menu .shou1 img:nth-of-type(2){
    width: 20%;
    height: 20%;
    position: relative;
    top: 20%;
    left: -7%;
}
.dropdown-menu .shou1 p{
    position: absolute;
    top:232px;
    left: 77%;
}
.dropdown-menu .shou2 img:nth-of-type(1){
    width: 20%;
    height: 20%;
    position: relative;
    top: 10%;
    left: 12%;
}
.dropdown-menu .shou2 img:nth-of-type(2){
    width: 20%;
    height: 20%;
    position: relative;
    top: 20%;
    left: -7%;
}
.dropdown-menu .shou2 p{
    position: absolute;
    top:301px;
    left: 77%;
}
.dropdown-menu .shou3 img:nth-of-type(1){
    width: 20%;
    height: 20%;
    position: relative;
    top: 10%;
    left: 12%;
}
.dropdown-menu .shou3 img:nth-of-type(2){
    width: 20%;
    height: 20%;
    position: relative;
    top: 20%;
    left: -7%;
}
.dropdown-menu .shou3 p{
    position: absolute;
    top:377px;
    left: 77%;
}
.dropdown-menu .shou4 img:nth-of-type(1){
    width: 20%;
    height: 20%;
    position: relative;
    top: 10%;
    left: 12%;
}
.dropdown-menu .shou4 img:nth-of-type(2){
    width: 20%;
    height: 20%;
    position: relative;
    top: 20%;
    left: -7%;
}
.dropdown-menu .shou4 p{
    position: absolute;
    top:457px;
    left: 77%;
}
.bg-pic img{
    width: 100%;
    margin-bottom:10px;
}
.btn-group-lg>.btn, .btn-lg {
    padding:18px 141px;
}
.btn-group .dropdown-menu li{
    width:372px;
    height: 20px;
    line-height: 46px;
}
.btn-group .dropdown-menu li h5{
    margin-left:10px;
}
.s1{
    background-color: rgb(203, 51, 64);
    position: relative;
    height: 100%;
}
.s1 img{
    width: 97%;
    position: absolute;
    top: 17%;
    left: 5%;
}
.s1 p:nth-of-type(1){
    position: absolute;
    top: 8%;
    left:47.5%;
    color:white;
}
.s1 p:nth-of-type(2){
    position: absolute;
    top: 14%;
    left:39.5%;
    color:white;
}
.s2{
    background-color: rgb(255, 239, 231);
    position: relative;
    height: 100%;

}
.s2 img{
    width: 97%;
    position: absolute;
    top: 17%;
    left: 5%;
}
.s2 p:nth-of-type(1){
    position: absolute;
    top: 8%;
    left:44.5%;
    color:white;
}
.s2 p:nth-of-type(2){
    position: absolute;
    top: 14%;
    left:29.5%;
    color:white;
}
.s3{
    position: relative;
    height: 100%;

}
.s3 img{
    width: 97%;
    position: absolute;
    top: 17%;
    left: 5%;
}
.s3 p:nth-of-type(1){
    position: absolute;
    top: 8%;
    left:44.5%;
}
.s3 p:nth-of-type(2){
    position: absolute;
    top: 14%;
    left:29.5%;
}
.s4{
    position: relative;
    height: 100%;

}
.s4 img{
    width: 97%;
    position: absolute;
    top: 17%;
    left: 5%;
}

.s4 p:nth-of-type(1){
    position: absolute;
    top: 8%;
    left:44.5%;
}
.s4 p:nth-of-type(2){
    position: absolute;
    top: 14%;
    left:29.5%;
}
.shoujimain{
    background:#f4f4f4;
}
.shoujimain .col-xs-12{
    background: #ffffff;
    margin-top:15px;
}
.shoujimain .container img{
    width: 100%;
}
.shoujimain .container h2,p{
    text-align:center;
}
.shoujimain .container p{
    font-size:19px;
}
.shoujimain .container .col-xs-12:nth-of-type(7) h2{
    position: absolute;
    top: 21%;
    left: 5%;
}
.shoujimain .container .col-xs-12:nth-of-type(7) p{
    position: absolute;
    top: 54%;
    left: 18%;
}
.footer{
    background-color:#ffffff;
}
.container{
    padding-top:32px;
}
.footer .container h2{
    margin-top:10px;
    font-size:25px;
}
.footer .container .col-xs-6 img{
    margin-left:19px;
}
.footer .xian{
    position: relative;
    width: 95%;
    left: 3%;
    top:77px;
    border-bottom:1px solid #98979a;
}
.footer .col-xs-12{
    line-height: 25px;
    color:#98979a;
}
.footer .col-xs-12 img{
    margin-top:-8px;
}