.navbar-default{
    background-color: #A4DE54;
}
.navbar-nav{
    width: 100%;
}
.nav>li>a{
    padding: 15px 48px;
}
.navbar-default .navbar-nav>li>a{
    color:#ffffff;
}
.navbar-default .navbar-nav>li:nth-of-type(4)>a:nth-of-type(1){
    color:#000;
}
.main .img2{
    width: 40%;
}
img{
    width: 100%;
    margin-top:20px;
}
.main h4{
    font-size:20px;
}
.main p{
    font-size:13px;
    color:#707070;
}
.main a{
    color:#7CCE09;
}
.footer{
    margin-top:20px;
     width: 100%;
     background-color: #000;
 }
.footer p{
    line-height:50px;
    text-align:center;
    color:#ffffff;
}