*{margin: 0;padding: 0;font-family: Arial;}
a{text-decoration: none;}
li{list-style: none;}
.clear{clear:both;}
/*------------header--------------*/
#header-bg{
	width: 100%;
	background:url(../images/header-bg.jpg);
}
#header{
	width: 874px;
	height: 233px;
	margin: 0 auto;
}
.logo img{
	padding-top: 48px;
	float: left;
}
.logo h1{
	color: #ffe7be;
	padding-top: 65px;
	margin-left: 65px;
	
}
.logo p{
	margin-left: 65px;
	font-size:12px ;
	color: #daab59;
}
.icon{
	width: 200px;
	height: 30px;
	float: right;
	margin-right: 42px;
}
.icon img{
	width: 48px;
	height: 30px;
	border-right:1px solid #918174 ;
	margin-top: -10px;
}
.icon .map{
	border-right: 0px;
}
.nav li a{
	border-right:1px solid #918174;
	float: left;
	margin-top: 46px;
	margin-left: 9px;
	padding:5px 42px;
	color: #ffe7be;
}
.nav .site{
	border-right: 0px;
}
.nav .home{
	color: #ffd267;
}
.nav li a:hover{
	color: #ffd267;
}
/*------------header--------------*/
/*------------main--------------*/
#main-bg{
	width: 100%;
}
#main{
	width: 874px;
	height: 662px;
	margin: 0 auto;
	background:url(../images/content-bg.jpg);
}
.main-top{
	width: 564px;
	height: 297px;
	background: #fff;
	border:1px #c1afa3 solid;
	border-radius:8px 0 8px 0;
	opacity: 0.8;
	float: right;
	margin-top: 32px;
}
.top-left{
	float: left;
}
.top-left h1{
	margin-top: 31px;
	margin-left: 41px;
	color: #9f5827;
}
.top-left p{
	width: 334px;
	height: 48px;
	font-size: 12px;
	margin-left: 41px;
	margin-top: 20px;
}
.top-left span{
	color:#9f5835;
	border-bottom: 1px solid #9f5835;
}
.top-right h2{
	margin-top: 31px;
	color: #9f5827;
	margin-left: 410px;
}
.top-right img{
	border:1px dotted #9f583c;
	background: #dadada;
	padding: 5px;
	margin-top: 22px;
	margin-left: 30px;
	border-radius:4px;
}
.main-bottom{
	width: 564px;
	height: 297px;
	background: #fff;
	border:1px #c1afa3 solid;
	border-radius:8px 0 8px 0;
	opacity: 0.8;
	float: right;
	margin-top: 32px;
}
.main-bottom h1{
	margin-top: 31px;
	margin-left: 43px;
	color: #9f5827;
}
.main-bottom a{
	color: #9f5827;
	margin-left: 40px;
	margin-top: 17px;
	border-bottom: 1px #9f5827 solid;
}
.main-bottom p{
	margin-left: 40px;
	width: 472px;
	height: 36px;
	font-size: 12px;
	line-height: 12px;
	margin-top: 17px;
	margin-bottom: 10px;
}
/*------------main--------------*/
/*------------footer--------------*/
#footer-bg{
	width: 100%;
	background:url(../images/footer-bg.gif);
}
#footer{
	width: 1000px;
	height: 95px;
	margin: 0 auto;
}
.copy .Copyrights{
	float: left;
	font-size: 12px;
	margin-top: 39px;
}
.copy .Popular{
	float: right;
	font-size: 12px;
	margin-top: 39px;
}.copy a{
	color: #f8ab41;
	border-bottom: 1px solid #f8ab41;
}
/*------------footer--------------*/