*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
.header{
    width: 100%;
}
.header-bg{
    height: 50px;
    margin:0 auto;
}
.header-bg img{
    float:left;
    margin-right:30px;
}
.header a{
    float:left;
    margin-top:8px;
    color:#000000;
    margin-left:25px;
}
.header-bg img:nth-of-type(2){
    margin-top:8px;
    margin-left:20px;
}
.main .one{
    width: 100%;
    background: url(../images/huawei35.jpg)no-repeat center center;
    background-size:100% 100%;
    height:550px;
}
.main .one img{
    margin-top:30px;
}
.main .one h1{
    font-size:54px;
    position: absolute;
    top:250px;
    left:600px;
    font-weight:normal;
}
.main .one h4{
    font-size: 22px;
    font-weight:normal;
    position: absolute;
    top:330px;
    left:600px;
}
.main .one h2{
    font-size:32px;
    position: absolute;
    top: 400px;
    left:600px;
}
.main .one h5{
    font-size: 18px;
    position: absolute;
    top:450px;
    left:600px;
}
.main .two{
    width: 100%;
    background: url(../images/huaweibg1.jpg)no-repeat center center;
    background-size:100% 100%;
    height:650px;
}
.main .two h2{
    margin-top:20px;
    text-align:center;
    margin-bottom:30px;
}
.main .two p{
    font-size:12px;
    text-align:center;
    margin-bottom:-16px;
}
.main .two img:nth-of-type(1){
    width: 7%;
    position: relative;
    top:20px;
    left:400px;
}
.main .two img:nth-of-type(2){
    width: 7%;
    position: relative;
    top:20px;
    left:420px;
}
.main .two img:nth-of-type(3){
    width: 400px;
    position:absolute;
    top: 830px;
    left: 300px;
}
.main .three{
    width: 100%;
    background: url(../images/huaweibg11.jpg)no-repeat center center;
    background-size:100% 100%;
    height:600px;
    margin-top:30px;
}
.main .three h2{
    padding-top:20px;
    text-align:center;
    margin-bottom:30px;
    color:#ffffff;
}
.main .three p{
    font-size:12px;
    text-align:center;
    margin-bottom:-16px;
    color:#ffffff;
}
.main .three p:nth-of-type(5){
    margin-bottom:4px;
}
.main .three img:nth-of-type(1){
    margin-left:290px;
}
.main .three img:nth-of-type(6){
    width:70%;
    position:relative;
    top:50px;
    left:180px;
}
.main .four{
    width: 100%;
    background: url(../images/huaweibg18.jpg)no-repeat center center;
    background-size:100% 100%;
    height:600px;
}
.main .four h2{
    padding-top:20px;
    text-align:center;
    margin-bottom:30px;
}
.main .four p{
    font-size:12px;
    text-align:center;
    margin-bottom:-16px;
}
.main .four p:nth-of-type(3){
    margin-bottom:30px;
}
.main .four img:nth-of-type(1){
    margin-left:170px;
}
.main .four img:nth-of-type(6){
    width: 60%;
    position: relative;
    top: 80px;
    left:200px;
}
.main .five{
    width: 100%;
    background: url(../images/huaweibg27.jpg)no-repeat center center;
    background-size:100% 100%;
    height:900px;
}
.main .five h2{
    padding-top:20px;
    text-align:center;
    margin-bottom:30px;
}
.main .five p{
    font-size:12px;
    text-align:center;
    margin-bottom:-16px;
}
.main .five p:nth-of-type(3){
    margin-bottom:10px;
}
.main .five img:nth-of-type(1){
    margin-left:170px;
}
.main .five img:nth-of-type(7){
    width: 23%;
   position: absolute;
    top:2800px;
    left:260px;
}
.main .five img:nth-of-type(8){
    width: 26%;
    position: absolute;
    top:2840px;
    left:500px;
}
.main .six{
    width: 100%;
    background: url(../images/huaweishouji6.jpg)no-repeat center center;
    background-size:100% 100%;
    height: 630px;
}
.main .six img:nth-of-type(1){
    width: 16%;
    position: relative;
    top:50px;
    left:680px;
}
.main .six img:nth-of-type(2){
    width: 17%;
    position: relative;
    top:50px;
    left:400px;
}
.main .six img:nth-of-type(3){
    width: 17%;
    position: relative;
    top:50px;
    left:100px;
}
.main .six img:nth-of-type(4){
    width: 33%;
    position: relative;
    top:50px;
    left:-350px;
}
.main .six img:nth-of-type(5){
    cursor: pointer;
    width: 10%;
    position: relative;
    top:120px;
    left:-380px;
}
.footer{
    background-color: #f0f0f0;
    width: 100%;
    height: 600px;
}
.footer .container2{
    width: 75%;
    margin:0 auto;
    height: 400px;

}
.footer .container2 div{
    width: 19%;
    float:left;
    margin-top:50px;
}
.footer .container2 div h5{
    font-size:24px;
}
.footer .container2 div a p{
    font-size:16px;
    margin-top:15px;
    color:#000000;
}
.footer .container2 div a p:hover{
    text-decoration: underline;
}
.footer .container2 div:nth-of-type(2){
    margin-left:50px;
}
.footer .container2 div:nth-of-type(3){
    margin-left:50px;
}
.footer .container2 div:nth-of-type(4){
    margin-left:50px;
}
.footer .container2 div:nth-of-type(5){
    width: 1%;
    float:left;
}
.footer .container2 div img{
    display:block;
    margin-bottom:10px;
}
.footer .container3{
    width: 75%;
    margin:0 auto;
}
.footer .container3 a p{
    display:inline;
    font-size:18px;
    color:#000000;
}
.footer .container3 a p:hover{
    text-decoration: underline;
}
.footer .container3 a:nth-of-type(2) p{
    margin-left:125px;
    line-height:60px;
}
.footer .container3 a:nth-of-type(3) p{
    margin-left:144px;
}
.footer .container3 a:nth-of-type(4) p{
    margin-left: 132px;
    margin-right:-12px;
}
.footer .container3 a:nth-of-type(6) p{
    margin-left: 116px;
}
.footer .container3 h5{
    font-size:24px;
}
.footer-bg{
    width: 100%;
}
.footer-bg .container5{
    width: 100%;
    margin:0 auto;
}
.footer-bg .one{
    background-color:#000000;
}
.footer-bg .one::after{
    content: '';
    display: table;
    clear:both;
}
.footer-bg .one a{
    color:#ffffff;
}
.footer-bg .one h5{
    margin-top:5px;
    margin-bottom:5px;
}
.footer-bg .one h5:nth-of-type(1){
    float:left;
}
.footer-bg .one h5:nth-of-type(2){
    float:right;
}
.footer-bg .one h5:nth-of-type(2) a:hover{
    color:red;
}
.footer-bg .one h5:nth-of-type(2) span{
    color:#ffffff;
}