* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

}

/*
 * 自定义样式 - 开始
 */

/*向后的箭头样式*/
.swiper-button-next {
    width: 24px;
    height: 35px;
    left: 50%;
    right: auto;
    top: auto;
    bottom: 5%;
    margin-left: -13.5px;
    transform: rotateZ(-90deg);
    animation: buttonnext 2s infinite;
}
@keyframes buttonnext {
    0%{
        bottom:3%;
        opacity: 1;
    }
    100%{
        bottom:6%;
        opacity: 0;
    }
}
/*
 * .s1 第一屏样式 - 开始
 */
.s1,.s2,.s3,.s4,.s5,.s6,.s7{
    background: url(../img/bj.png);
    height: 100%;
    /*设置当前的元素为相对定位*/
    position: relative;
}
.s1 .header img {
    /*设置绝对定位的位置*/
    position: absolute;
}
.s1 .header img:nth-of-type(1) {
    width: 30px;
    top: 120px;
    left: 50px;
    animation: tada infinite;
}

.s1 .header img:nth-of-type(2) {
    width: 60px;
    right: 40px;
    top: 90px;
    animation: tada infinite;
}

.s1 .header img:nth-of-type(3) {
    width: 50px;
    left: 30px;
    bottom: 180px;
    animation: tada infinite;
}

.s1 .header img:nth-of-type(4) {
    width: 50px;
    right: 50px;
    bottom: 200px;
    animation: tada infinite;
}
.swing{

}
.s1 .header img:nth-of-type(5) {
    width: 70%;
    left: 50%;
    top: 25%;
    margin-left: -35%;
    animation:pulse infinite 1s;
}

/*第一屏的文字部分*/
.s1 .main {
    position: absolute;
    top: 30%;
}

.s1 .main img:nth-of-type(1) {
    width: 40%;
}

.s1 .main img:nth-of-type(2) {
    width: 80%;
    margin-bottom: 20px;
}

.s1 .main p {
    color: #fff;
}

.s1 .main .img9 {
    background: url("../img/9.png");
    width: 207px;
    height: 24px;
    background-size: contain;
    margin: auto;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
}

/*第一屏的底部*/
.s1 .footer {
    color: #00d7b2;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.s1 .footer p:nth-of-type(2) {
    margin-bottom: 35px;
}

.s1 .footer p:nth-of-type(3) {
    height: 70px;
}

.s1 .footer img {
    position: absolute;
    height: 70px;
}

.s1 .footer img:nth-of-type(1) {
    animation: donghuakey 2s infinite alternate;
}
@keyframes donghuakey
{
    0%{
        left:0;
    }
    100%{
        left:20px;
    }
}
.s1 .footer img:nth-of-type(2) {
    animation: donghuakey2 2s infinite alternate;
}
@keyframes donghuakey2
{
    0%{
       left: -95px;
    }
    100%{
        left:-150px;
    }
}

/*第二屏的样式*/
.s2 {
    color: #00f8ca;
}

.s2 h2 {
    font-size: 26px;
    position: relative;
    top: 12%;
}

.s2 small {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}

.s2 h2::before,
.s2 h2::after {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s2 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s2 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}

.s2 .s22 {
    position: absolute;
    top: 25%;
    width: 80%;
    height: 55%;
    left: 50%;
    margin-left: -40%;

}

.s2 .s22 img {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
}

.s2 .s22 p {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 14px;
    line-height: 1.3em;
    margin-bottom: 10px;
}

.s2 .s22 p:nth-of-type(1) {
    padding-top: 20px;
}

.s2 .s22 span {
    /*渐变色*/
    background: -moz-linear-gradient(left, #00ecfc, #00fd9d); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #00ecfc, #00fd9d); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #00ecfc, #00fd9d); /*Opera11*/
    width: 120px;
    height: 25px;
    border-radius: 10px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    display: inline-block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -60px;
}
.s2 .footer {
    color: #00d7b2;
    position: absolute;
    width: 100%;
    bottom: 0;
    top:90%
}

.s2 .footer p:nth-of-type(2) {
    margin-bottom: 35px;
}

.s2 .footer p:nth-of-type(3) {
    height: 70px;
}

.s2 .footer img {
    position: absolute;
    height: 70px;
}

.s2 .footer img:nth-of-type(1) {
    animation: donghuakey 2s infinite alternate;
}
@keyframes donghuakey
{
    0%{
        left:0;
    }
    100%{
        left:20px;
    }
}
.s2 .footer img:nth-of-type(2) {
    animation: donghuakey2 2s infinite alternate;
}
@keyframes donghuakey2
{
    0%{
        left: -95px;
    }
    100%{
        left:-150px;
    }
}

#mp3Btn{
    position: absolute;
    right:5%;
    top:5%;
    z-index: 100;
    width: 20px;
    height: 30px;
    background: rgba(0,0,0,0.1);
    border-radius: 50%;
    border:4px solid #292929;
    text-align: center;
    line-height: 28px;
    transform: rotateZ(0deg);
    animation: mp3key 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}
@keyframes mp3key {
    from{
        transform: rotateZ(0deg);
    }to{
         transform: rotateZ(1turn);
     }
}
#mp3Btn img{
    width: 10px;
}
.s3 {
    color: #00f8ca;
}

.s3 h2 {
    font-size: 26px;
    position: relative;
    top: 12%;
}

.s3 small {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}

.s3 h2::before,
.s3 h2::after {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s3 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s3 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}

.s3 p{
    background:url(../img/15.png);
    background-size: contain;
    width: 60px;
    height: 60px;
    text-align:center;
    line-height:55px;
    position: absolute;
}
.s3 p:nth-of-type(1){
    top:204px;
    left:90px;
    animation: tada infinite;
}
.s3 p:nth-of-type(2){
    top:204px;
    left:228px;
    animation: tada infinite;
}
.s3 p:nth-of-type(3){
    top:324px;
    left:298px;
    animation: tada infinite;
}
.s3 p:nth-of-type(4){
    top:446px;
    left:227px;
    animation: tada infinite;
}
.s3 p:nth-of-type(5){
    top:440px;
    left:89px;
    animation: tada infinite;
}
.s3 p:nth-of-type(6){
    top:325px;
    left:20px;
    animation: tada infinite;
}
.s3 h3{
    background:url(../img/15.png);
    background-size: contain;
    width: 120px;
    height: 120px;
    text-align:center;
    line-height:120px;
    position: absolute;
    top:300px;
    left:129px;
    animation: tada infinite;
}
.s3 span{
    width: 4px;
    height: 41px;
    background-color:#00efcf;
    position: absolute;
    top:502px;
    left:44px;
}
.s3 .sss{
    width: 258px;
    height: 42px;
    font-size:14px;
    position: absolute;
    top:505px;
    left:74px;
    text-align:left;
}
.s3 .footer {
    color: #00d7b2;
    position: absolute;
    width: 100%;
    bottom: 0;
    top:90%
}

.s3 .footer p:nth-of-type(2) {
    margin-bottom: 35px;
}

.s3 .footer p:nth-of-type(3) {
    height: 70px;
}

.s3 .footer img {
    position: absolute;
    height: 70px;
}

.s3 .footer img:nth-of-type(1) {
    animation: donghuakey 2s infinite alternate;
}
@keyframes donghuakey
{
    0%{
        left:0;
    }
    100%{
        left:20px;
    }
}
.s3 .footer img:nth-of-type(2) {
    animation: donghuakey2 2s infinite alternate;
}
@keyframes donghuakey2
{
    0%{
        left: -95px;
    }
    100%{
        left:-150px;
    }
}

.s4 {
    color: #00f8ca;
}

.s4 h2 {
    font-size: 26px;
    position: relative;
    top: 12%;
}

.s4 small {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}

.s4 h2::before,
.s4 h2::after {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s4 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s4 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}
.s4 div {
    position: absolute;
    top: 25%;
    width: 80%;
    height: 55%;
    left: 50%;
    margin-left: -40%;

}
.s4  .ooo img{
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
}
.s4 .ooo img:nth-of-type(2){
    width: 30px;
    height: 30px;
    top:3px;
    left:33px;
}
.s4 .ooo img:nth-of-type(3){
    width: 30px;
    height: 30px;
    top:3px;
    left:164px;
}
.s4 .ooo p:nth-of-type(1){
    position: absolute;
    top:6px;
    left:62px;
}
.s4 .ooo p:nth-of-type(2){
    position: absolute;
    top:6px;
    left:193px;
}
.s4 .one img,.two img,.three img:nth-of-type(1){
    width: 20px;
    height: 20px;
}
.s4 .one img:nth-of-type(1){
    position: absolute;
    top:50px;
}
.s4 .two img:nth-of-type(1){
    position: absolute;
    top:127px;
}
.s4 .three img:nth-of-type(1){
    position: absolute;
    top:204px;
}
.s4 .one p{
    position: absolute;
    top:50px;
    left:25px;
}
.s4 .one p small{
    position: absolute;
    top:-5px;
    left: 92px;
    color:#ffffff;
}
.s4 .one img:nth-of-type(2){
    width: 258px;
    position: absolute;
    top:75px;
    left:17px;
}
.s4 .one img:nth-of-type(3) {
    width: 128px;
    position: absolute;
    top:101px;
    left:17px;
}
.s4 .one span:nth-of-type(1){
    position: absolute;
    font-size:10px;
    top: 72px;
    left:278px;
}
.s4 .one span:nth-of-type(2){
    position: absolute;
    font-size:10px;
    top: 103px;
    left:148px;
}
.s4 .two p{
    position: absolute;
    top:124px;
    left:25px;
}
.s4 .two p small{
    position: absolute;
    top:-5px;
    left: 92px;
    color:#ffffff;
}
.s4 .two img:nth-of-type(2){
    height: 20px;
    width: 230px;
    position: absolute;
    top:151px;
    left:17px;
}
.s4 .two img:nth-of-type(3) {
    height: 20px;
    width: 110px;
    position: absolute;
    top:178px;
    left:17px;
}
.s4 .two span:nth-of-type(1){
    position: absolute;
    font-size:10px;
    top: 151px;
    left:253px;
}
.s4 .two span:nth-of-type(2){
    position: absolute;
    font-size:10px;
    top: 178px;
    left:135px;
}
.s4 .three p{
    position: absolute;
    top:200px;
    left:25px;
}
.s4 .three p small{
    position: absolute;
    top:-5px;
    left: 70px;
    color:#ffffff;
}
.s4 .three img:nth-of-type(2){
    height: 20px;
    width: 210px;
    position: absolute;
    top:226px;
    left:17px;
}
.s4 .three img:nth-of-type(3) {
    height: 20px;
    width: 102px;
    position: absolute;
    top:251px;
    left:17px;
}
.s4 .three span:nth-of-type(1){
    position: absolute;
    font-size:10px;
    top:226px;
    left:231px;
}
.s4 .three span:nth-of-type(2){
    position: absolute;
    font-size:10px;
    top: 252px;
    left:124px;
}
.s4 .wenzi p{
    position: absolute;
    top:194px;
    left:8px;
    font-size:14px;
}
.s4 .footer{
    color: #00d7b2;
    position: absolute;
    width: 100%;
    bottom: 0;
    top:90%
}

.s4 .footer p:nth-of-type(1) {
    margin-bottom: 35px;
}

.s4 .footer p:nth-of-type(2) {
    height: 70px;
}

.s4 .footer img {
    position: absolute;
    height: 70px;
}

.s4 .footer img:nth-of-type(1) {
    animation: donghuakey 2s infinite alternate;
}
@keyframes donghuakey
{
    0%{
        left:0;
    }
    100%{
        left:20px;
    }
}
.s4 .footer img:nth-of-type(2) {
    animation: donghuakey2 2s infinite alternate;
}
@keyframes donghuakey2
{
    0%{
        left: -95px;
    }
    100%{
        left:-150px;
    }
}
.s5 {
    color: #00f8ca;
}

.s5 h2 {
    font-size: 26px;
    position: relative;
    top: 12%;
}

.s5 small {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}

.s5 h2::before,
.s5 h2::after {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s5 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s5 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}
.s5 .mmm img:nth-of-type(1){
    width: 140px;
    height: 176px;
    position: absolute;
    top:166px;
    left: 44px;
}
.s5 .mmm img:nth-of-type(2){
    width: 140px;
    height: 176px;
    position: absolute;
    top:166px;
    left:191px;
}
.s5 .mmm img:nth-of-type(3){
    width: 140px;
    height: 176px;
    position: absolute;
    top:363px;
    left:44px;
}
.s5 .mmm img:nth-of-type(4){
    width: 140px;
    height: 176px;
    position: absolute;
    top:363px;
    left:191px;
}
.s5 .mmm img:nth-of-type(5){
    width: 100px;
    height: 107px;
    position: absolute;
    top:170px;
    left:65px;
}
.s5 .mmm img:nth-of-type(6){
    width: 100px;
    height: 107px;
    position: absolute;
    top:170px;
    left:212px;
}
.s5 .mmm img:nth-of-type(7){
    width: 100px;
    height: 107px;
    position: absolute;
    top:366px;
    left:65px;
}
.s5 .mmm img:nth-of-type(8){
    width: 100px;
    height: 107px;
    position: absolute;
    top:366px;
    left:212px;
}
.s5 .mmm p{
    font-size:12px;
}
.s5 .mmm p:nth-of-type(1){
    position: absolute;
    top:278px;
    left:72px;
}
.s5 .mmm p:nth-of-type(2){
    position: absolute;
    top:278px;
    left:222px;
}
.s5 .mmm p:nth-of-type(3){
    position: absolute;
    top:474px;
    left:72px;
}
.s5 .mmm p:nth-of-type(4){
    position: absolute;
    top:474px;
    left:222px;
}
.s5 span{
    background: -moz-linear-gradient(left, #00ecfc, #00fd9d); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #00ecfc, #00fd9d); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #00ecfc, #00fd9d); /*Opera11*/
    width: 110px;
    height: 25px;
    border-radius: 10px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    display: inline-block;
}
.s5 span:nth-of-type(1){
    position: absolute;
    top:304px;
    left:60px;
}
.s5 span:nth-of-type(2){
    position: absolute;
    top:304px;
    left:208px;
}
.s5 span:nth-of-type(3){
    position: absolute;
    top:500px;
    left:60px;
}
.s5 span:nth-of-type(4){
    position: absolute;
    top:500px;
    left:208px;
}
.s5 .footer {
    color: #00d7b2;
    position: absolute;
    width: 100%;
    bottom: 0;
    top:90%
}

.s5 .footer p:nth-of-type(2) {
    margin-bottom: 35px;
}

.s5 .footer p:nth-of-type(3) {
    height: 70px;
}

.s5 .footer img {
    position: absolute;
    height: 70px;
}

.s5 .footer img:nth-of-type(1) {
    animation: donghuakey 2s infinite alternate;
}
@keyframes donghuakey
{
    0%{
        left:0;
    }
    100%{
        left:20px;
    }
}
.s5 .footer img:nth-of-type(2) {
    animation: donghuakey2 2s infinite alternate;
}
@keyframes donghuakey2
{
    0%{
        left: -95px;
    }
    100%{
        left:-150px;
    }
}
.s6 {
    color: #00f8ca;
}

.s6 h2 {
    font-size: 26px;
    position: relative;
    top: 12%;
}

.s6 small {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}

.s6 h2::before,
.s6 h2::after {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s6 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s6 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}
.s6 .szz img{
    width: 23px;
    height: 23px;
}
.s6 .szz img:nth-of-type(1){
    position: absolute;
    top:166px;
    left:29px;
}
.s6 .szz img:nth-of-type(2){
    position: absolute;
    top:308px;
    left:29px;
}
.s6 .szz img:nth-of-type(3){
    position: absolute;
    top:446px;
    left:29px;
}
.s6 .szz span{
    border:1px dashed #00fcc7;
    width: 1px;
    height: 390px;
    position: absolute;
    top:190px;
    left:39px;
}
.s6 .ssz img:nth-of-type(1){
    width: 242px;
    height: 27px;
    position: absolute;
    top:177px;
    left:54px;
}
.s6 .ssz img:nth-of-type(2){
    width: 242px;
    height: 27px;
    position: absolute;
    top:321px;
    left:54px;
}
.s6 .ssz img:nth-of-type(3){
    width: 242px;
    height: 27px;
    position: absolute;
    top:458px;
    left:54px;
}
.s6 .ssz img:nth-of-type(4){
    width: 284px;
    height: 80px;
    position: absolute;
    top:216px;
    left: 54px;
}
.s6 .ssz img:nth-of-type(5){
    width: 284px;
    height: 80px;
    position: absolute;
    top:359px;
    left: 54px;
}
.s6 .ssz img:nth-of-type(6){
    width: 284px;
    height: 80px;
    position: absolute;
    top:497px;
    left: 54px;
}
.s6 .ssz h4:nth-of-type(1){
    position: absolute;
    top: 182px;
    left: 62px;
    color:#000000;
}
.s6 .ssz h4:nth-of-type(2){
    position: absolute;
    top: 326px;
    left: 62px;
    color:#000000;
}
.s6 .ssz h4:nth-of-type(3){
    position: absolute;
    top: 463px;
    left: 62px;
    color:#000000;
}
.s6 .ssz p{
    font-size:12px;
}
.s6 .ssz p:nth-of-type(1){
    position: absolute;
    top:222px;
    left: 66px;
}
.s6 .ssz p:nth-of-type(2){
    position: absolute;
    top:242px;
    left: 66px;
}
.s6 .ssz p:nth-of-type(3){
    position: absolute;
    top:264px;
    left: 66px;
}
.s6 .ssz p:nth-of-type(4){
    position: absolute;
    top:366px;
    left: 66px;
}
.s6 .ssz p:nth-of-type(5){
    position: absolute;
    top:387px;
    left: 66px;
}
.s6 .ssz p:nth-of-type(6){
    position: absolute;
    top:409px;
    left: 66px;
}
.s6 .ssz p:nth-of-type(7){
    position: absolute;
    top:505px;
    left: 66px;
}
.s6 .ssz p:nth-of-type(8){
    position: absolute;
    top:525px;
    left: 66px;
}
.s6 .ssz p:nth-of-type(9){
    position: absolute;
    top:545px;
    left: 66px;
}
.s6 .footer {
    color: #00d7b2;
    position: absolute;
    width: 100%;
    bottom: 0;
    top:90%
}

.s6 .footer p:nth-of-type(2) {
    margin-bottom: 35px;
}

.s6 .footer p:nth-of-type(3) {
    height: 70px;
}

.s6 .footer img {
    position: absolute;
    height: 70px;
}

.s6 .footer img:nth-of-type(1) {
    animation: donghuakey 2s infinite alternate;
}
@keyframes donghuakey
{
    0%{
        left:0;
    }
    100%{
        left:20px;
    }
}
.s6 .footer img:nth-of-type(2) {
    animation: donghuakey2 2s infinite alternate;
}
@keyframes donghuakey2
{
    0%{
        left: -95px;
    }
    100%{
        left:-150px;
    }
}
.s7 {
    color: #00f8ca;
}

.s7 h2 {
    font-size: 26px;
    position: relative;
    top: 12%;
}

.s7 small {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}

.s7 h2::before,
.s7 h2::after {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s7 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s7 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}

.s7 .zml {
    position: absolute;
    top: 25%;
    width: 80%;
    height: 55%;
    left: 50%;
    margin-left: -40%;

}

.s7 .zml img{
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
}
.s7 input{
    width: 260px;
    height: 56px;
    font-size:18px;
}
input::-webkit-input-placeholder { /* WebKit browsers */
    padding-left:20px;
}
.s7 input:nth-of-type(1){
    position: absolute;
    top:202px;
    left: 59px;
}
.s7 .nnn p{
    font-size:24px;
    color:red;
}
.s7 .nnn p:nth-of-type(1){
    position:absolute ;
    top:220px;
    left: 68px;
}
.s7 .nnn p:nth-of-type(2){
    position:absolute ;
    top:286px;
    left: 68px;
}
.s7 .nnn p:nth-of-type(3){
    position:absolute ;
    top:355px;
    left: 68px;
}
.s7 input:nth-of-type(2){
    position: absolute;
    top:269px;
    left: 59px;
}
.s7 input:nth-of-type(3){
    position: absolute;
    top:337px;
    left: 59px;
}
.s7 button{
    width:260px;
    height: 61px;
    background-color:#00f2ca;
    color:#ffffff;
    position: absolute;
    top:406px;
    left: 59px;
}
.s7 .wen{
    width: 260px;
}
.s7 .wen h5:nth-of-type(1){
    position: absolute;
    top:475px;
    left: 87px;
}
.s7 .wen h5:nth-of-type(2){
    position: absolute;
    top:492px;
    left: 93px;
}
.s7 .footer {
    color: #00d7b2;
    position: absolute;
    width: 100%;
    bottom: 0;
    top:90%
}

.s7 .footer p:nth-of-type(2) {
    margin-bottom: 35px;
}

.s7 .footer p:nth-of-type(3) {
    height: 70px;
}

.s7 .footer img {
    position: absolute;
    height: 70px;
}

.s7 .footer img:nth-of-type(1) {
    animation: donghuakey 2s infinite alternate;
}
@keyframes donghuakey
{
    0%{
        left:0;
    }
    100%{
        left:20px;
    }
}
.s7 .footer img:nth-of-type(2) {
    animation: donghuakey2 2s infinite alternate;
}
@keyframes donghuakey2
{
    0%{
        left: -95px;
    }
    100%{
        left:-150px;
    }
}





